.heading {
width:100%;
margin:0px;
font-size: 23px;
box-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 12px;
    color: black;
}
#footer{

 line-height: 2;
 width: 100%;
 box-shadow: 5px 5px 5px blue;
 background-color: grey;
font-size: 20px;

position:fixed;
bottom: 0;

}
